<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <p>Configurações do Sistema 
      <img src="../assets/img/Config.png" alt="Config" class="config">
    </p>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
<body>

    <nav class="navbar">
      <img src="../assets/img/logo.png" alt="NoImob" class="logo" />
      <span class="company-name">NoImob</span>
  
      <div class="nav-links">
        <a href="feed.html" class="nav-link"><img id="icon-link" src="../assets/img/IconeProprietário.svg" alt="">Feed</a>
        <a class="nav-link" onclick="openChat()"><img id="icon-link" src="../assets/img/Logo.svg" alt="">Chat</a>
      </div>
              <input type="text" name="text" class="search" id="search" placeholder="Pesquisar..."></input>
            </div>
      </div>
  
      <div class="notification">
          <button class="notficationButton" onclick="openPopup()"><svg xmlns="http://www.w3.org/2000/svg" width="46" height="45" viewBox="0 0 46 45" fill="none">
              <path d="M41.375 18.75V24.375C41.375 31.875 37.625 35.625 30.125 35.625H29.1875C28.6062 35.625 28.0437 35.9063 27.6875 36.375L24.875 40.125C23.6375 41.775 21.6125 41.775 20.375 40.125L17.5625 36.375C17.2625 35.9625 16.5687 35.625 16.0625 35.625H15.125C7.625 35.625 3.875 33.75 3.875 24.375V15C3.875 7.5 7.625 3.75 15.125 3.75H26.375M36.6875 13.125C37.9307 13.125 39.123 12.6311 40.0021 11.7521C40.8811 10.873 41.375 9.6807 41.375 8.4375C41.375 7.1943 40.8811 6.00201 40.0021 5.12294C39.123 4.24386 37.9307 3.75 36.6875 3.75C35.4443 3.75 34.252 4.24386 33.3729 5.12294C32.4939 6.00201 32 7.1943 32 8.4375C32 9.6807 32.4939 10.873 33.3729 11.7521C34.252 12.6311 35.4443 13.125 36.6875 13.125Z" stroke="#2399B3" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M30.1171 20.625H30.1359M22.6152 20.625H22.634M15.1152 20.625H15.1302" stroke="#66E4F2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </button>
      </div>
      <img src="../assets/img/Foto Perfil.png" alt="Foto de Perfil" class="profile-pic" onclick="openPopupPerfil()" />
     <i><img src="../assets/img/casa.png" alt="menu" id="burguer"></i>
    </nav>

    <div class="forms">
      <h1>Segurança</h1>
      <h2>Ajuste suas configurações de segurança.</h2>

      <button class="senha">Redefinir Senha
        <div class="editarsenha">Editar</div>
        <img class="senhaimg" src="../assets/img/senha.png">
      </button>

      <button class="denuncia">Denunciar
        <div class="editarsobrenome">Editar</div>
        <img class="denunciaimg" src="../assets/img/senha.png">
      </button>

      <button class="excluir">Excluir Conta
        <div class="editaremail">Editar</div>
        <img class="excluirimg" src="../assets/img/senha.png">
      </button>
    </div>

</body>
</html>